* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(to bottom,
            #e7f0ff 0%,
            #e2eeff 35%,
            #e9eef6 65%,
            #ffffff 100%);

    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: #fff;
}

.header-top,
.header-bottom {
    border-bottom: px solid #e5e5e5;
}

.header-container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 12px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}


.logo img {
    height: 41px;
    margin-top: 20px;
    margin-left: -30px;
}

.top-links {
    display: flex;
    gap: 20px;
    margin-right: -30px;

}

.top-links a {

    margin-top: 20px;
    font-size: 15px;
    color: #1f2a44;
    font-family: "Titillium Web", serif;
}


.menu {
    display: flex;
    list-style: none;
    margin-left: -30px;
    margin-top: -10px;
    gap: 28px;
}

.menu a {
    text-decoration: none;
    font-size: 16px;
    color: #1f2a44;
    font-family: "Titillium Web", serif;
}


.actions {
    display: flex;
    gap: 18px;
    margin-top: -10px;
    margin-right: -30px;

}

.btn-primary {
    background-color: #0e78d5;
    color: white;
    border: none;
    padding: 10px 28px;
    border-radius: 4px;
    font-size: 15px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

}

.btn-outline {
    background-color: transparent;
    color: #0e78d5;
    border: 2px solid#0e78d5;
    font-size: 15px;
    font-weight: bold;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.menu li {
    position: relative;
}

.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    list-style: none;
    padding: 10px 0;
    min-width: 200px;
    display: none;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
}

.dropdown li a {
    display: block;
    padding: 8px 20px;
    color: #032d60;
    font-size: 14px;
}

.has-dropdown:hover .dropdown {
    display: block;
}

.header {
    position: relative;
    z-index: 1000;
}

.dropdown {
    z-index: 2000;
}

.hero {
    position: relative;
    padding: 90px 20px;
    text-align: center;

    background: rgba(91, 132, 196, 0.35);
    backdrop-filter: blur(22px) saturate(140%);
    -webkit-backdrop-filter: blur(22px) saturate(140%);

    border-top: 1px solid rgba(255, 255, 255, 0.35);
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom,
            rgba(255, 255, 255, 0.25),
            rgba(255, 255, 255, 0.05));
    pointer-events: none;
}

.hero h1 {
    color: #1d1c29;
    font-size: 48px;
    margin-bottom: 10px;
    text-shadow: 0 8px 30px rgba(0, 0, 0, 0.25);
}

.hero p {
    color: #293656;
    font-size: 18px;
}

/* CSS for the getting started content*/

.getting-started {
    padding: 80px 20px;
}

.gs-container {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
}

.gs-column {
    color: #032d60;
}

.gs-border {
    border-left: 1px solid #ddd;
    padding-left: 60px;
}

.gs-subtitle {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 40px;
}

.top-blue-link {
    display: inline-block;
    margin-bottom: 30px;
    font-size: 12px;
    color: #0176d3;
    text-decoration: none;
    letter-spacing: 0.5px;
}

.gs-item {
    margin-bottom: 40px;
}

.gs-item h3 {
    font-size: 22px;
    margin-bottom: 8px;
}

.gs-item p {
    color: #444;
    line-height: 1.6;
    max-width: 500px;
}

.gs-item a {
    display: inline-block;
    margin-top: 10px;
    color: #0176d3;
    text-decoration: none;
    font-size: 14px;
}

/* THis is the css for the page responsivness */

.gs-headings {
    max-width: 1200px;
    margin: 0 auto 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

.gs-headings h1 {
    font-size: 36px;
    font-weight: 700;
    color: #032d60;
}

/* This is the community section code css */

.community-section {
    padding: 100px 20px;
}

.community-container {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    align-items: center;
}

.community-image img {
    width: 100%;
    border-radius: 4px;
}

.community-content {
    color: #032d60;
}

.community-line {
    display: block;
    width: 40px;
    height: 3px;
    background-color: #032d60;
    margin-bottom: 20px;
}

.community-content h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
}

.community-content p {
    font-size: 15px;
    line-height: 1.7;
    color: #222121;
    margin-bottom: 30px;
    max-width: 520px;
}

.community-links {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.community-links a {
    font-size: 10px;
    color: #0176d3;
    text-decoration: none;
}

/* CSS for the new product and the features section */

.features-section {
    background-color: #eae9e95f;
    padding: 40px 20px;
}

.features-title {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    color: #032d60;
    margin-bottom: 40px;
}

.features-container {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    align-items: center;
}

.features-image img {
    width: 100%;
}

.features-content {
    color: #032d60;
}

.features-line {
    display: block;
    width: 40px;
    height: 3px;
    background-color: #032d60;
    margin-bottom: 20px;
}

.features-content h3 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}

.features-content p {
    font-size: 15px;
    line-height: 1.7;
    color: #202020;
    margin-bottom: 25px;
    max-width: 520px;
}

.features-content p a {
    color: #0176d3;
    text-decoration: underline;

}

.features-link {
    font-size: 10px;
    color: #0176d3;
    text-decoration: none;
}

/* CSS for the Data skills section */

.data-skills {
    padding: 100px 20px;
    background-color: #ffffff;
}

.data-skills-container {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1.1fr;
    gap: 80px;
    align-items: center;
}

.section-line {
    display: block;
    width: 40px;
    height: 3px;
    background-color: #032d60;
    margin-bottom: 20px;
}

.data-skills-text h2 {
    font-size: 36px;
    font-weight: 700;
    color: #032d60;
    margin-bottom: 20px;
}

.data-skills-text p {
    font-size: 15px;
    line-height: 1.7;
    color: #444;
    margin-bottom: 24px;
    max-width: 560px;
}

.skills-link {
    font-size: 13px;
    color: #0176d3;
    text-decoration: none;
}

.data-skills-image img {
    width: 50%;
    border-radius: 4px;
}

.data-skills-card p {
    font-size: 18px;
    line-height: 1.5;
}

/* CSS for the states section*/

.stats-section {
    padding: 90px 20px;
    background-color: #ffffff;
    text-align: center;
}

.stats-section h2 {
    font-size: 36px;
    font-weight: 600;
    color: #777;
    margin-bottom: 60px;
}

.stats-container {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.stat-number {
    display: block;
    font-size: 48px;
    font-weight: 700;
    color: #032d60;
    margin-bottom: 10px;
}

.stat-label {
    font-size: 12px;
    text-decoration: underline;
    color: #0176d3;
}

.footer {
    background: #ffffff;
    padding: 80px 0 60px;
}

.footer-container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 40px;
    display: grid;
    grid-template-columns: 260px 1fr;
    gap: 80px;
}

.footer-brand img {
    width: 90%;
    margin-bottom: 24px;
}

.footer-btn {
    background: #0e78d5;
    color: #fff;
    border: none;
    padding: 14px 24px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 6px;
    cursor: pointer;
    margin-left: 50px;
}

.footer-links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
}

.footer-col h4 {
    font-size: 15px;
    font-weight: 700;
    color: #1b1f23;
    margin-bottom: 16px;
}

.footer-col a {
    display: block;
    font-size: 14px;
    color: #4a4f55;
    text-decoration: none;
    margin-bottom: 10px;
}

.footer-col a:hover {
    text-decoration: underline;
}
/*This is last footer css code */

.last-footer {
  background: linear-gradient(180deg, #1a1a1a, #000);
  padding: 28px 60px;
  color: #ccc;
  font-size: 14px;
}

.last-footer a {
  color: #ccc;
  text-decoration: underline;
  font-weight: 500;
}

.last-footer a:hover {
  color: #fff;
}

.last-footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
}

.last-top-left {
  display: flex;
  align-items: center;
  gap: 22px;
}

.lang-dropdown {
  background: #2b2b2b;
  color: #fff;
  border: none;
  padding: 8px 14px;
  border-radius: px;
}


.last-top-right a {
  width: 32px;
  height: 32px;
  border: gray;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  font-weight: bold;
}

.last-footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  padding-top: 16px;
}

.last-bottom-left {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
  max-width: 65%;
}

.last-bottom-right {
  max-width: 35%;
  text-align: right;
  color: #9a9a9a;
  font-size: 13px;
  line-height: 1.6;
}
